*{
    font-family: Geneva, sans-serif;
}
.Überschrift{
    text-align: center;
    font-size: 40pt;
    margin:15px 70px 40px 70px;
    padding-top: 25px;
}

.Hauptüberschrift{
    text-align: center;
    font-size: 60pt;
    margin:70px;
    padding-bottom: 30px;
    position: relative;


}

.Hauptüberschrift:after{
    content: "";
    display: block;
    margin: auto;
    width:440px;
    padding-top: 20px;
    border-bottom: solid 5px;
    border-bottom-color: rgba(113, 210, 39,0.8);
}

.Textfeld{
    padding: 1px 40px 20px 40px;
    text-align: left;


}

body {
    background-color: #E5EFE5;;

}


header{
    background-color: rgba(113, 210, 39,0.5);
    font-family: Geneva, sans-serif;
    text-align: center;
    color:white;
    font-size:80pt;
    height: 150px;
    border-radius:25px;

}


.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    width: 95%;
    border-radius: 30px;

}

.center2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    width: 70%;
    border-radius: 100px;

}


.footer{
    left: 0;
    bottom: 0;
    width: 60%;
    height: 100px;
    margin: auto;
    background-color: #A4A4A4;
    text-align: center;
    border-radius: 20px;

}
.footer ul{
    margin: 30px;
    padding: 20px;
    list-style: none;
}
.footer li{
    display: inline-block;
    margin: 20px 30px 1px 30px;
}
.footer a:visited,a:link{
    font-size: large;
    text-decoration: none;
    color: black;
}

.footer a:hover,a:active{
    font-size: large;
    text-decoration: none;
    color: white;
}

.footerlink{

    position: center;
}




#vorteile {
    width: 90%;
    border-collapse: collapse;
    text-align: center;
    margin: auto;
    margin-bottom: 70px;
    border-radius: 30px;

}

#vorteile td, #vorteile th {
    border: 1px solid #ffffff;
    padding: 10px;
}

#vorteile th {
    padding-top:15px;
    padding-bottom:15px;
    background-color: rgba(113, 210, 39, 0.5);
    color: white;
}

#vorteile tr:nth-child(even){
    background-color: #DEDEDE;
}

#vorteile tr:hover {
    background-color: #ffffff;
}
