.Überschrift{
    font-family: Geneva, sans-serif;
    text-align: center;
    font-size: 40pt;
    margin:70px 70px 40px 70px;
}

.Hauptüberschrift{
    font-family: Geneva, sans-serif;
    text-align: center;
    font-size: 60pt;
    margin:70px;
}

.Textfeld{
    padding: 0px 40px 20px 40px;
    text-align: left;
}

body {
    background: linear-gradient(to bottom, #DEDEDE 0%, #ffffff 100%);
    margin: 0px;
}



table,th,td{
    font-family: Geneva, sans-serif;
    border-collapse: collapse;
    text-align: center;
    border: 1px solid black;
}

header{
    background-color: rgba(113, 210, 39,0.5);
    font-family: Geneva, sans-serif;
    text-align: center;
    color:white;
    font-size:80pt;

    height: 150px;

}


.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    border-radius: 100px;

}


.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: dimgray;
    color: white;
    text-align: center;

}

a.footerlink:link {
    color: white;
}
a.footerlink:visited {color: greenyellow;}
a.footerlink:active {color: white;}
a.footerlink:hover {color: black;}